# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.cmake
*.xml
*.iml
*.txt
*.check_cache
*.log
*.marks
*.make
*.includecache
*.internal
*.cbp
*.bin
*.name

Lab3/cmake-build-debug/
Lab3/.idea/
